/* Version Fix*/
* {
    box-sizing: border-box;
}


:root {
    --primary-bg-color: #DDE0E4;
    --secondary-bg-color: #FFFFFF;
    --primary-text-color: black;
    --accent-color-A: #A6ABBD;
    --accent-color-B: #484848;

}

.intro_content {
    margin-block: 50px;
    margin-inline: 6vw;
    width: 80%;
}

body {
    /* Default font */
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-weight: 300;

}



/*Main Sections */
.main_content {
    margin-block: 100px;
    margin-inline: 3vw;
    padding: 3vw;
    background-color: var(--secondary-bg-color);

    border-radius: 20px;
}

.sub_content {
    margin-block: 100px;
    margin-inline: 6vw;
    width: 60%;

}

.newsletter_content {
    margin-block: 100px;
    margin-inline: 6vw;
    text-align: center;
    align-items: center;

}
.sub_content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.centered_content {
    margin-block: 100px;
    padding-inline: 20vw;
    padding-block: max(4vw, 40px);
    position: relative;
    text-align: center;
    color: white;
}

.centered_content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.centered_content p {
    text-align: left;
}


/* FOOTER */
footer {
    margin-top: 8vw;
    padding-inline: 6vw;
    padding-block: 40px;
    background-color: #43414F;
    color: white;
    display: flex;
    align-items: center;
}

/* GENERAL */

p {
    margin-block: 1em;
    font-size: 1.1em;
    line-height: 2;
}

h1 {
    margin-bottom: 20px;
}

h5 {
    font-size: 1.15em;

}
a {
    text-decoration: none;
}
.name {
    font-size: 3.5em;
}
