* {
    box-sizing: border-box;
}


:root {
    --primary-bg-color: #DDE0E4;
    --secondary-bg-color: #FCF7FF;
    --primary-text-color: black;
    --accent-color-A: #A6ABBD;
    --accent-color-B: #484848;

}

.intro_content {
    margin-block: 4vw;
    margin-inline: 6vw;
    width: 80%;
}

body {
    /* Default font */
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-weight: 300;

}



/*Main Sections */
.main_content {
    margin-block: 8vw;
    margin-inline: 3vw;
    padding: 3vw;
    background-color: var(--secondary-bg-color);

    border-radius: 20px;
}

.sub_content {
    margin-block: 8vw;
    margin-inline: 6vw;
    width: 60%;

}

.sub_content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.centered_content {
    margin-block: 8vw;
    padding-inline: 20vw;
    padding-block: 3vw;
    position: relative;
    text-align: center;
    color: white;
}

.centered_content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.centered_content p {
    text-align: left;
}


/* FOOTER */
footer {
    margin-top: 8vw;
    padding-inline: 6vw;
    padding-block: 40px;
    background-color: #43414F;
    color: white;
    display: flex;
    align-items: center;
}


/* NAVIGATION BAR */
.navbar {
    background-color: var(--secondary-bg-color);
    overflow: hidden;
    padding-inline: 3vw;
    padding-block: 40px;
    display: flex;
    justify-content: end; /* Align links to the right */
}

.navbar a {
    display: inline-block;
    color: grey;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    margin-inline: 20px;
    transition: background-color 0.3s, color 0.3s; /* Added transitions for background-color and color */
}
.navbar div {
    font-size: 3em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

