/* GENERAL */

p {
    margin-block: 1em;
    font-size: 1.1em;
    line-height: 2;
}

h1 {
    margin-bottom: 20px;
}

h5 {
    font-size: 1.15em;

}
a {
    text-decoration: none;
}
.name {
    font-size: 3.5em;
}


/*SOCIAL BAR */
.social_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the social bar to the right */
    width: 100%; /* Take up all the horizontal space */
}

.social_bar img {
    width: 40px; /* Adjust the percentage as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-left: 2vw;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.social_bar img:hover {
    transform: scale(1.2); /* Increase the size by 20% on hover */
}
